* {
  font-family: roboto, arial;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.15s;
}

:root {
  --background-color: #fafbfc;
  --box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --call-to-action: #287f71;
  --faint-black: #2e2e2e;
  --sub-color: #9ba4b1;
  --down-color: #ce485c;
  --up-color: #287f71;
  --down-color-shade: #f5dbdf;
  --up-color-shade: #d8f2ee;
  --sub-sub-color: #c7cdd8;
}

body {
  background-color: var(--background-color);
  padding: 5rem 0rem 50rem 0rem;
}

img {
  object-fit: cover;
}
